* {
  font-size: 16px;
  color: white;
}

:root{
  --dark: black;
  --bordercolor: white;
  --labelbox: #2B3133;
}

body{
  background-color: var(--dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
}



h1, h2, a{
  font-family: 'Poiret One', cursive;
  font-size: bold;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 500ms;
}

a:hover{
  font-size: 20px;
}

.herb-header{
  position: relative;
  width: 100%;
  background-color: var(--dark);
  height: 50px;
  padding: 6px 0 6px 0;
  /* border-bottom: 2px solid var(--bordercolor); */
}

.herb-header h1{
  position: absolute;
  display: block;
  font-size: 2rem;
  padding: 0 20px 0 40px;
  background-color: var(--bordercolor);
  color: white;
  border-radius: 0 4px 4px 0;
}

.herb-header nav{
  margin-top: 10px;
  position: absolute;
  display: block;
  color: white;
  right: 15px;
  padding: 0px 15px 0px 0;
}

.herb-header nav a{
  padding-left: 10px;
}

.banner{
  width: 100%;
  height: 250px;
  position: relative;  
  background-image: 
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), black 100%),
  url("./Images/cyber-city.jpeg");
  background-repeat: no-repeat;
  background-position-y: 55%;
  background-position-x: center;
  background-size: 100%;
  filter: grayscale(100%);
  backdrop-filter: grayscale;
  background-color: gray;
  background-blend-mode: hard-light ;
}

.banner img{
  margin: auto;
  border-radius: 10px;
}

.banner p{
  padding: 4px;
  position: absolute;
  right: 40px;
  bottom: 20px;
  background-color: var(--bordercolor);
  border-radius: 3px;
}

.about-me{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  min-height: 120px;
  margin-right: 20px;
  overflow: scroll;
}


.about-me div h1{
  position: absolute;
  padding-right: 20px;
  font-size: 2rem;
  width: 20%;
  text-align: right;
}

.about-me div p{
  border-left: 2px solid var(--bordercolor);
  position: absolute;
  right: 0;
  padding-left: 20px;
  width: 80%;
  padding-right: 20px;
}

.work{
  /* position: relative; */
  /* margin-top: 10px; */
  width: 100%;
  height: 100%;
}

.work div h1{
  position: absolute;
  padding-right: 20px;
  font-size: 2rem;
  width: 20%;
  text-align: right;
}

.work-flex{
  position: absolute;
  right: 0;
  padding: 0 20px 0 20px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;  
  border-left: 2px solid var(--bordercolor);
  gap: 5px;
  /* margin-top: ; */

}

.work-div{
  position: relative;
  border: 2px solid var(--bordercolor);
  width: 600px; 
}


.project-1{
  min-height: 600px;
  flex:1 1 80%; 
}

.project-1 img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.project-1 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 10px 20px;
  margin-top: 160px;
  border-radius: 0 5px 5px 0;
}

.project-2{
  flex:1 1 40%;
  min-height: 225px;
  min-width: 400px;  
}

.project-2 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 10px 20px;
  margin-top: 160px;
  border-radius: 0 5px 5px 0;
}

.project-2 img{
  width: 100%;
  height: 225px;
}

.project-3{
  flex:1 1 40%;
  min-width: 400px;
}

/* .project-3 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 10px 20px;
  margin-top: 160px;
  border-radius: 0 5px 5px 0;
} */

.project-3 img{
}

.project-4{
  flex:1 1 40%;
  min-height: 225px;
  min-width: 400px;
}

/* .project-4 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 10px 20px;
  margin-top: 160px;
  border-radius: 0 5px 5px 0;
 } */


.project-5{
  flex:1 1 40%;
  min-height: 225px;
  min-width: 400px;
}

.project-5 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 160px;
  border-radius: 0 5px 5px 0;
}

.contact-me{
  margin-top: auto;
  width: 100%;
  height: 100px;
  background-color: white;
  border: 2px solid var(--bordercolor);
}

 /* .contact-me div h1{
  position: absolute;
  display: block;
  padding-right: 20px;
  font-size: 2rem;
  width: 20%;
  border-right: 2px solid var(--bordercolor);
  height: 90px;
  text-align: right;
}

.contact-me .nav-box{
  width: 80%;
  height: 100px;
  position: absolute;
  right: 0;
} 
  
.contact-me nav{
  display: block;
  text-align: center;
  height: 100px;
  margin-top: 30px;

}

.contact-me nav a{
  padding-right: 20px;
} */