:root{
  --dark: black;
  --bordercolor: white;
  --labelbox: #2B3133;
}

body{
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
}

h1, h2, h3{
  font-family: 'Poiret One', cursive;
  font-size: bold;
  letter-spacing: 2px;
}

img{
  display: block;
}

.herb-header{
  position: relative;
  width: 100%;
  background-color: var(--dark);
  height: 50px;
  padding: 6px 0 6px 0;
}

.herb-header h1{
  position: absolute;
  display: block;
  font-size: 2rem;
  padding: 0 20px 0 40px;
  background-color: var(--bordercolor);
  color: black;
  border-radius: 0 4px 4px 0;
}

.herb-header nav{
  margin-top: 10px;
  position: absolute;
  display: block;
  color: white;
  right: 15px;
  padding: 0px 15px 0px 0;
}

.herb-header nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 500ms;
  font-family: 'Poiret One', cursive;
  font-size: bold;
  letter-spacing: 2px;
  padding-left: 10px;
}

.herb-header nav a:hover{
  font-size: 20px;
}

.banner{
  width: 100%;
  height: 250px;
  position: relative;  
  background-image: 
  linear-gradient(to bottom, rgba(68, 68, 68, 0.6), black 100%),
  url("./images/cyber-city.jpeg");
  background-repeat: no-repeat;
  background-position-y: 55%;
  background-position-x: center;
  background-size: 100%;
  filter: grayscale(100%);
  backdrop-filter: grayscale;
  background-blend-mode: hard-light ;
  overflow: hidden;
}

.banner img{
  display: block;
  margin: 0 auto;
  width: 310px;
  height: 310px;
  mix-blend-mode: luminosity ;
}

.banner p{
  padding: 4px;
  position: absolute;
  right: 40px;
  bottom: 20px;
  background-color: var(--bordercolor);
  border-radius: 3px;
  color: black;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
}

.about-me{
  position: relative;
  margin-top: 10px;
  width: 100%;
  min-height: 120px;
  margin-right: 20px;
  overflow: hidden;
}

.about-me div h1{
  position: absolute;
  padding-right: 20px;
  font-size: 2rem;
  width: 20%;
  text-align: right;
}

.about-me div p{
  border-left: 2px solid var(--bordercolor);
  position: absolute;
  right: 0;
  padding-left: 20px;
  width: 80%;
  padding-right: 15px;
  height: 120px;
  overflow: scroll;
  font-family: 'Times New Roman', Times, serif;
}
.about-me div p::-webkit-scrollbar {
  display: none;
}

.work{
  position: relative;
  margin-top: 10px;
  max-width: 100%;
  height: 100%;
}

.work div{
  width: 20%;
}

.work div h1{
  position: absolute; 
  padding-right: 15px;
  font-size: 2rem;
  width: 20%;
  text-align: right;
  padding-left: 20px;
}

.work .work-flex{
  margin-top: 10px;
  right: 0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;  
  border-left: 2px solid var(--bordercolor);
  gap: 5px;
  float:right;
}

.work-div a{
  margin-top: 10px;
  max-width: 100%;
  height: 100%;
}

.work-div{
  border: 2px solid var(--bordercolor); 
  border-radius: 5px;
}

.work-div:hover{
  outline: none;
  border-color: #dded9e;
  box-shadow: 0 0 15px #aef226;
}

.project-1{
  min-height: 650px;
  flex:1 1 80%;    
}

.project-1 img{
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: center;
}

.project-1 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 10px 30px;
  margin-top: 570px;
  border-radius: 0 5px 5px 0;
  width: 290px;
}

.project-1 h2 {
  font-size: 1.5rem;
}

.project-2{
  flex:1 1 40%;
  height: 250px;
  width: 400px;  
}

.project-2 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px 5px 30px;
  margin-top: 180px;
  border-radius: 0 5px 5px 0;
  width: 155px;
}

.project-2 img{
  width: 100%;
  height: 245px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.project-2 h2 {
  font-size: 1.5rem;
}

.project-3{
  flex:1 1 40%;
  width: 400px;
  height: 250px;
}

.project-3 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px 5px 30px;
  margin-top: 180px;
  border-radius: 0 5px 5px 0;
  width: 275px;
}

.project-3 img{
  width: 100%;
  height: 245px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.project-3 h2 {
  font-size: 1.5rem;
}

.project-4{
  flex:1 1 40%;
  height: 250px;
  width: 400px;
}

.project-4 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px 5px 30px;
  margin-top: 180px;
  border-radius: 0 5px 5px 0;
  width: 210px;
}

.project-4 img{
  width: 100%;
  height: 246px;
  object-fit: fill;
  object-position: center;
  overflow: hidden;
}

.project-4 h2 {
  font-size: 1.5rem;
}

.project-5{
  flex:1 1 40%;
  height: 250px;
  width: 400px;
}

.project-5 div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px 5px 30px;
  margin-top: 180px;
  border-radius: 0 5px 5px 0;
  width: 180px;
}

.project-5 img{
  width: 100%;
  height: 245px;
  object-fit: cover;
  object-position: 0;
  overflow: hidden;
}

.project-5 h2 {
  font-size: 1.5rem;
}

.contact-me{
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: black;
}

 .contact-me div h1{
  position: absolute;
  padding-right: 15px;
  font-size: 2rem;
  width: 20%;
  text-align: right;
  color: white;
  padding-left: 5px;
}

.contact-me .nav-box{
  width: 80%;
  height: 100px;
  position: absolute;
  right: 0;
  border-left: 2px solid var(--bordercolor);
} 
  
.contact-me nav{
  display: block;
  text-align: center;
  height: 100px;
  margin-top: 30px;
}

.contact-me nav a{
  padding-right: 20px;
  color: white;
  transition: 500ms;
  font-family: 'Poiret One', cursive;
  text-decoration: none;  
}

.contact-me nav a:hover{
  font-size: 25px;
}


/* iPads and Tablets */
@media screen and (max-width: 910px){
  body{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
  }
  
  h1, h2, h3{
    font-family: 'Poiret One', cursive;
    font-size: bold;
    letter-spacing: 2px;
  }
  
  .herb-header{
    position: relative;
    width: 100%;
    background-color: var(--dark);
    min-height: 80px;
    /* padding: 6px 0 6px 0; */
  }
  
  .herb-header h1{
    display: block;
    font-size: 2rem;
    padding: 0 20px 0 20px;
    background-color: var(--bordercolor);
    color: black;
    border-radius: 0 4px 4px 0;
  }
  
  .herb-header nav{
    position: absolute;
    display: block;
    right: 20px;
    display: block;
    color: white;
    margin-top: 50px;
    padding: 0;
  }
  
  .herb-header nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 500ms;
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  
  .herb-header nav a:hover{
    font-size: 20px;
  }

  
  .banner p{
    padding: 4px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: var(--bordercolor);
    border-radius: 3px;
    color: black;
    font-family: 'Poiret One', cursive;
  }
  
  .about-me{
    position: relative;
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
  }
  
  .about-me div h1{
    position: absolute;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
  
  .about-me div p{
    margin-top: 80px;
    position: absolute;
    right: 0;
    width: 100%;
    overflow: scroll;
    height: 120px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }
  
  .work{
    position: relative;
    margin-top: 10px;
    max-width: 100%;
    height: 100%;
  }
  
  .work div{
    width: 100%;
  }
  
  .work div h1{
    position: absolute; 
    padding-right: 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  
  .work .work-flex{
    margin-top: 40px;
    right: 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;  
    gap: 5px;
    border: none;
  }
  
  .work-div a{
    margin: 0 0 0 0;
    max-width: 100%;
    height: 100%;
  }
  
  .work-div{
    border: 2px solid var(--bordercolor); 
    border-radius: 5px;
  }
  
  .work-div:hover{
    outline: none;
    border-color: #dded9e;
    box-shadow: 0 0 15px #aef226;
  }
  
  .project-1{
    min-height: 400px;
    flex:1 1 100%; 
  }
  
  .project-1 img{
    width: 100%;
    scale: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
  }
  
  .project-1 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0 10px 20px;
    margin-top: 370px;
    border-radius: 0 5px 5px 0;
    width: 270px;
    z-index: 1;
  }
  
  .project-1 div h2 {
    font-size: 1.5rem;
  }
  
  .project-2{
    position: relative;
    flex:1 1 80%;
    height: 200px;
    width: 400px;  
  }
  
  .project-2 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 20px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 155px;
  }
  
  .project-2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
  }
  
  .project-2 h2 {
    font-size: 1.5rem;
  }
  
  .project-3{
    flex:1 1 40%;
    width: 400px;
    height: 200px;
  }
  
  .project-3 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 0 5px 20px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 290px;
  }
  
  .project-3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  .project-3 h2 {
    font-size: 1.5rem;
  }
  
  .project-4{
    flex:1 1 40%;
    height: 200px;
    width: 400px;
  }
  
  .project-4 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 20px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 210px;
  }
  
  .project-4 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
  
  .project-4 h2 {
    font-size: 1.5rem;
  }
  
  .project-5{
    flex:1 1 40%;
    height: 200px;
    width: 400px;
  }
  
  .project-5 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 20px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 180px;
  }
  
  .project-5 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  .project-5 h2 {
    font-size: 1.5rem;
  }
  
  .contact-me{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: black;
  }
  
   .contact-me div h1{
    position: absolute;
    padding-right: 15px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0;
  }
  
  .contact-me .nav-box{
    width: 100%;
    height: 100px;
    position: absolute;
    right: 0;
    border: none;
    margin-top: 50px;
  } 
    
  .contact-me nav{
    display: block;
    text-align: center;
    height: 60px;
    margin-top: 30px;
  }
  
  .contact-me nav a{
    padding-right: 20px;
    color: white;
    transition: 500ms;
    font-family: 'Poiret One', cursive;
    text-decoration: none;  
  }
  
  .contact-me nav a:hover{
    font-size: 25px;
  }
}


/* Mobile Devices */
@media screen and (max-width: 480px){

  body{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
  }
  
  h1, h2, h3{
    font-family: 'Poiret One', cursive;
    font-size: bold;
    letter-spacing: 2px;
  }
  
  .herb-header nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 500ms;
    font-family: 'Poiret One', cursive;
    font-size: .8rem;
    letter-spacing: 2px;
  }

  .banner{
    width: 100%;
    height: 250px;
    position: relative;  
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), black 100%),
    url("./images/cyber-city.jpeg");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: center;
    background-size: cover;
    filter: grayscale(100%);
    backdrop-filter: grayscale;
    /* background-color: darkgrey;  */
    background-blend-mode: hard-light ;
    overflow: hidden;
  }
  
  .banner img{
    margin: 0 auto;
    width: 310px;
    height: 310px;
    mix-blend-mode: luminosity ;
    overflow: hidden; 
  }
  
  
  .about-me{
    position: relative;
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
  }
  
  .about-me div h1{
    position: absolute;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
  
  .about-me div p{
    margin-top: 80px;
    position: absolute;
    right: 0;
    width: 100%;
    overflow: scroll;
    height: 120px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }
  
  .work{
    position: relative;
    margin-top: 10px;
    max-width: 100%;
    height: 100%;
  }
  
  .work div{
    width: 100%;
  }
  
  .work div h1{
    position: absolute; 
    padding-right: 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  
  .work .work-flex{
    margin-top: 40px;
    right: 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;  
    gap: 5px;
    border: none;
  }
  
  .work-div a{
    margin: 0 0 0 0;
    max-width: 100%;
    height: 100%;
  }
  
  .work-div{
    border: 2px solid var(--bordercolor); 
    border-radius: 5px;
  }
  
  .work-div:hover{
    outline: none;
    border-color: #dded9e;
    box-shadow: 0 0 15px #aef226;
  }
  
  .project-1{
    min-height: 400px;
    flex:1 1 100%; 
  }
  
  .project-1 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  
  .project-1 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px 10px 10px;
    margin-top: 320px;
    border-radius: 0 5px 5px 0;
    width: 265px;
  }
  
  .project-1 h2 {
    font-size: 1.5rem;
  }
  
  .project-2{
    position: relative;
    flex:1 1 80%;
    height: 200px;
    width: 400px;  
  }
  
  .project-2 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 10px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 135px;
  }
  
  .project-2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  
  .project-2 h2 {
    font-size: 1.5rem;
  }
  
  .project-3{
    flex:1 1 40%;
    width: 400px;
    height: 200px;
  }
  
  .project-3 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 10px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 275px;
  }
  
  .project-3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0;
    overflow: hidden;
  }
  
  .project-3 h2 {
    font-size: 1.5rem;
  }
  
  .project-4{
    flex:1 1 40%;
    height: 200px;
    width: 400px;
  }
  
  .project-4 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 10px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 190px;
  }
  
  .project-4 img{
    width: 100%;
    height: 200px;
    object-fit: fill;
    object-position: 0;
    overflow: hidden;
  }
  
  .project-4 h2 {
    font-size: 1.5rem;
  }
  
  .project-5{
    flex:1 1 40%;
    height: 200px;
    width: 400px;
    box-shadow: none;
  }
  
  .project-5 div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 10px;
    margin-top: 130px;
    border-radius: 0 5px 5px 0;
    width: 160px;
  }
  
  .project-5 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  .project-5 h2 {
    font-size: 1.5rem;
  }
  
  .contact-me{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 110px;
    background-color: black;
    margin-right: 10px;
  }
  
   .contact-me div h1{
    position: absolute;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0;
  }
  
  .contact-me .nav-box{
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    border: none;
  } 
    
  .contact-me nav{
    display: block;
    height: 60px;
    margin: 30px 0 0 20px;
  }
  
  .contact-me nav a{
    color: white;
    transition: 500ms;
    font-family: 'Poiret One', cursive;
    text-decoration: none;  
  }
  
  .contact-me nav a:hover{
    font-size: 25px;
  }

}